# Binaries and Artifacts
/app
/debug
/worker-pool-wordcount
*.exe
*.dll
*.so
*.dylib
bin/
dist/

# Test output
*.test
*.out
coverage.*

# IDEs
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db
*~
*.swp
